.grparent {
    height: 250px;
    width: 900px;
    background-color: #f6c5be;
    text-align: center;
    padding-top: 20px;
    border-radius: 15px;
}

.parent {
    height: 100px;
    width: 80%;
    background-color: #b6d4f4;
    margin-top: 30px;
    text-align: center;
    padding-top: 55px;
    margin-left: 85px;
    border-radius: 15px;
}

main {
    display: flex;
}

.eventlogs {
    margin-left: 35px;
    width: 36%;
    height: 270px;
    background-color: rgb(236, 233, 228);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
}

.history {
    text-decoration: none;
}

button {
    background-color: rgb(4, 179, 4);
    color: white;
    border: none;
    height: 40px;
    width: 80px;
    border-radius: 15px;
}